@import 'variables';

.app-header {
    height: 70px;
    width: 100vw;
    background-color: $navy;
    border-bottom: 2px solid #999;
    box-shadow: 2px 3px #999;
    display: flex;
    justify-content: space-between;
}

// ===== LOGO BOX ===== //
.logo-container {
    color: $white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70px;
    padding: 5px 32px;
    text-decoration: none;
    box-sizing: border-box;
}

.logo-container:hover {
    background-color: $gold;
    color: $navy;
    cursor: pointer;
}

.logo-the-container {
    height: 70px;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    box-sizing: border-box;
}

.logo-the {
    font-family: $lobster;
    transform: rotate(-90deg);
    font-size: 24px;
    text-decoration: none;
    padding: 0;
    position: absolute;
    right: 0;
    margin: 0;
}

.logo-victor {
    font-family: $audio;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    flex: 1;
    text-decoration: none;
    box-sizing: border-box;
    height: 36px;
}

.logo-hotel {
    font-family: $poppins;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    height: 24px;
    text-align: right;
    margin: 0;
    padding: 0;
    flex: 1;
    text-decoration: none;
    box-sizing: border-box;
}

// ===== NAVIGATION ===== //

.nav {
    height: 70px;
    box-sizing: border-box;
}

.nav-list {
    display: flex;
    padding: 32px;
    box-sizing: border-box;
    align-items: center;
}

.nav-item {
    text-transform: uppercase;
    font-size: 0.9em;
    margin-right: 20px;
    font-family: $poppins;
    letter-spacing: 2px;
    box-sizing: border-box;
    a {
        color: $white;
        &:hover {
            color: $gold;
        }
    }
}