$poppins: 'Poppins', Arial, sans-serif;
$lobster: 'Lobster', $poppins;
$audio: 'Audiowide', $poppins;
$barcode: 'Libre Barcode 128 Text', $poppins;
$font-primary: $poppins;

$navy: #282c34;
$gold: #d4af37;
$white: #fffef2;