@import 'variables';

.app-header {
    height: 70px;
    width: 100vw;
    background-color: $navy;
    display: flex;
    justify-content: space-between;
}

// ===== NAVIGATION ===== //

.nav {
    height: 70px;
    box-sizing: border-box;
}

.nav-list {
    display: flex;
    padding: 32px;
    box-sizing: border-box;
    align-items: center;
}

.nav-item {
    text-transform: uppercase;
    font-size: 0.9em;
    margin-right: 20px;
    font-family: $poppins;
    letter-spacing: 2px;
    box-sizing: border-box;
    color: $white;
    &:hover {
        color: $gold;
        cursor: pointer;
    }
}