.todays-date {
    padding: 12px;
    text-align: center;
}

.date-label {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.date {
    font-size: 32px;
    margin-top: 4px;
}